.page-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.page-subtitle {
  color: var(--color-grey-400);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 540px;
}
