:host {
  display: block;
  height: 100%;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content {
    flex: 1;
    padding: 25px;
  }

  .footer {
    background-color: #ffffff;
    padding: 15px 25px;

    &:empty {
      display: none;
    }
  }
}
